<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193699807419-kb14b38jai13cj0fjmelol8jgsvfv78r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193699807419-kb14b38jai13cj0fjmelol8jgsvfv78r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>193699807419-vu1jg6nrf3dumcj7taf9fgcj9ihpgsqi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCih4tabz0Wb19cuwRwkeKjrN94XnckWnw</string>
	<key>GCM_SENDER_ID</key>
	<string>193699807419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codefox.quizzle</string>
	<key>PROJECT_ID</key>
	<string>mobisor-1606</string>
	<key>STORAGE_BUCKET</key>
	<string>mobisor-1606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193699807419:ios:c29b70a1d9789751d6e99e</string>
</dict>
</plist>